* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Halvar Eng Rg";
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #191919;
  background-image: url("../image/background.jpg");
  background-size: contain;
  background-repeat: repeat-y;
}

.yellow-text {
  color: #fff000;
}

.container {
  margin: 0 auto;
  width: 1080px;
  max-width: 100%;
}
@media (max-width: 1120px) {
  .container {
    padding: 16px;
  }
}

.header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.header--image {
  animation: infiniteRotate 10s linear infinite;
}

@media (max-width: 1120px) {
  .header {
    padding-top: 0;
  }
}

@keyframes infiniteRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header--phone {
  text-decoration: none;
  font-size: 28px;
}

.intro-overflow {
  overflow: hidden;
  padding-bottom: 220px;
}

.intro {
  padding-top: 88px;
  position: relative;
}

.intro--title {
  text-transform: uppercase;
  font-size: 88px;
  line-height: 70px;
}

.intro--subtitle {
  margin-top: 30px;
  font-size: 20px;
  font-weight: normal;
}

.intro--image {
  position: absolute;
  top: 50px;
  left: 330px;
  width: 900px;
}

@media (max-width: 1120px) {
  .intro-overflow {
    overflow: hidden;
    padding-bottom: 0;
  }

  .intro--image {
    position: unset;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .intro-overflow {
    overflow: hidden;
    padding-bottom: 20px;
  }

  .intro--title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 40px;
  }

  .intro--subtitle {
    margin-top: 30px;
    font-size: 20px;
    font-weight: normal;
  }

  .intro--image {
    position: relative;
    margin: 0 auto;
    top: 50px;
    left: calc((100% - 450px) / 2);
    width: 100%;
    min-width: 450px;
  }
}

.history {
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.history--title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

.history--image {
  height: 710px;
  background-image: url("../image/history.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.history--logo {
  position: absolute;
  left: calc(50% - 26px);
  top: 470px;
  animation: infiniteRotate 10s linear infinite;
}

.history--mobil {
  position: absolute;
  left: calc(50% - 320px);
  top: 350px;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

.history--editor {
  position: absolute;
  left: calc(50% - 33px);
  top: 280px;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

.history--operator {
  position: absolute;
  left: calc(50% + 130px);
  top: 285px;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

.history--vfx {
  position: absolute;
  left: calc(50% + 240px);
  top: 300px;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

@media (max-width: 700px) {
  .history {
    padding-top: 50px;
  }

  .history--title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
  }

  .history--image {
    height: 300px;
  }

  .history--logo {
    width: 30px;
    left: calc(50% - 13px);
    top: 196px;
  }

  .history--mobil {
    font-size: 12px;
    left: calc(50% - 150px);
    top: 140px;
  }

  .history--editor {
    font-size: 12px;
    left: calc(50% - 24px);
    top: 120px;
  }

  .history--operator {
    font-size: 12px;
    left: calc(50% + 48px);
    top: 125px;
  }

  .history--vfx {
    font-size: 12px;
    left: calc(50% + 105px);
    top: 115px;
  }
}

@media (max-width: 500px) {
  .history--title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (max-width: 461px) {
  .history--title {
    font-size: 18px;
  }
}

.courses {
  padding-top: 100px;
}

.courses-title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 93px;
}

.course--cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.course--card {
  height: 700px;
  width: calc(50% - 20px);
  background-color: #272727;
  padding: 50px 42px 43px 42px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  /* background-image: url("../image/card1.jpg"); */
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.course--card-title {
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.course--card-description {
  font-size: 18px;
  display: block;
  width: 200px;
  font-weight: normal;
  margin-bottom: 30px;
}

.course--card-price {
  text-transform: uppercase;
  font-size: 28px;
}

.course--card-button {
  margin-top: auto;
  height: fit-content;
  width: fit-content;
  padding: 10px 15px;
  background-color: #212121;
  border: none;
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: underline;
  outline: none;
  transition: 0.15s linear;
}
.course--card-button:hover {
  color: #fff000;
}

@media (max-width: 1120px) {
  .course--cards-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .course--card {
    height: 500px;
    min-width: 280px;
    margin-right: 30px;
    padding: 26px;
  }

  .course--card-title {
    font-size: 36px;
    margin-bottom: 36px;
  }

  .course--card-description {
    font-size: 18px;
  }

  .course--card-price {
    font-size: 24px;
  }

  .course--card-button {
    font-size: 18px;
  }
}

@media (max-width: 461px) {
  .courses {
    padding-top: 60px;
  }

  .courses-title {
    font-size: 36px;
  }
}

.course--block {
  width: 100%;
  height: 800px;
  background-color: #272727;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  padding: 36px;
}

.course--title {
  text-transform: uppercase;
  font-size: 124px;
  line-height: 1em;
  margin-bottom: 20px;
}

.course--description {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1em;
  font-weight: 300;
  margin-bottom: 20px;
  display: block;
  width: 600px;
  line-height: 1.5em;
}

.course--price-block {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 100%;
  height: 280px;
  background-color: #272727;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
}

.course--price-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  padding-right: 36px;
}
.course--price-card:first-child {
  border-right: 1px solid #ffffff;
}

.course--price-type {
  font-size: 36px;
  font-weight: 300;
}
.course--price-type.orange {
  color: #d17868;
}
.course--price-type.yellow {
  color: #f3e956;
}
.course--price-description {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}

.course--price {
  text-align: right;
  margin-top: auto;
  font-size: 42px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

@media (max-width: 900px) {
  .course--block {
    height: 500px;
    padding: 16px;
  }

  .course--title {
    font-size: 48px;
  }

  .course--description {
    font-size: 14px;
    width: 50%;
  }

  .course--price-block {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 400px;
    padding: 16px;
    flex-direction: column;
  }

  .course--price-card {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .course--price-card:first-child {
    border-right: none;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 16px;
  }
  .course--price-card:last-child {
    padding-top: 16px;
  }

  .course--price-type {
    font-size: 28px;
  }

  .course--price {
    font-size: 24px;
  }
}

.help--title {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 73px;
}

.help--button {
  background-color: #7bcd73;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  font-size: 28px;
  margin-bottom: 150px;
  display: inline-block;
  border-radius: 100px;
}

.help--button:visited,
.help--button:focus,
.help--button:hover,
.help--button:active,
.help--button {
  text-decoration: none;
}

@media (max-width: 700px) {
  .help--title {
    font-size: 36px;
    margin-bottom: 48px;
  }

  .help--button {
    margin-bottom: 20px;
  }
}
