@font-face {
    font-family: 'Halvar Eng Rg';
    src: url('HalvarEng-Bd.woff2') format('woff2'),
        url('HalvarEng-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Rg';
    src: url('HalvarEng-Rg.woff2') format('woff2'),
        url('HalvarEng-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

